body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-attachment:fixed;
    background-color:#ffffff;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(44,130,201,1)),
        color-stop(0.9, rgba(44,130,201,.9))
    );
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;

}

h1 {
    /* half-circle-esque shape */
    width: 110%;
    height: auto;
    padding: 25px 0px;
    border-radius: 0px 0px 100% 100%;
    z-index: -1;

    margin: 0px;
    top: 0px;
    left: -5%;
    position: fixed;
    text-align: center;
    z-index: 98;
    
    background: #ffffff;
    color: #2C82C9;
    font-size: 40px;
    line-height: 1em;
    font-weight: 100;
}

h3 {
    margin: 15% 15px 0;

    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

p {
    color: #000000;
    font-size: 35px;
    text-align: left;
}

#p_qod, #p_garden {
    text-align: center;
}

#p_details {
    margin: 15% 5% 0%;
}

.button1, .button2 {
    max-width: 10em;
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 1em;
    padding: 25px 0px;
    margin: 15px auto;

    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.button1 {
    background-color: #FC6042;
}

.button2 {
    background-color: #FCB941;
}

.button_wrapper {
    width: 100%;
    margin: 0px;
    position: absolute;
    text-align: center;
}

#button_wrapper_index {
    top: 50%;
}

#button_wrapper_experiments, #button_wrapper_graden, #button_water_continue {
    bottom: 0%;
}

#button_wrapper_record {
    bottom: 40%;
}

#button_wrapper_graph {
    top: 70%;
}

#button_wrapper_qod {
    display: none;
    bottom: 30%;
}

#button_wrapper_record1, #button_wrapper_record2 {
    bottom: 0%;
    display: none;
}

.nav_back, .nav_listen {
    height: 96px;
    width: 96px;
    top: 0px;
    margin-top: 20px;
    position: fixed;
    z-index: 99;
}

.nav_back {
    left: 0px;
}

.nav_listen {
    right: 0px;
}

.dialog {
    width: 90%;
    height: 60%;
    left: 5%;
    top: 20%;
    position: absolute;

    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;

    background-color: rgba(232,232,232,.95);
    display: none;
}

#dialog_record_instructions {
    display: block;
}

.icon_select_plant {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;

    border-radius: 4px;
    border-width: 1px;
    border-style: dashed;
    border-color: #ffffff;
}

.image_select_plant {
    float: left;
    height: 130px;
    margin: 10px;
    
}

.icon_select_plant_wrapper {
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    position: absolute;

    overflow: auto;
    overflow-y: scroll;
}

.modal, video {
    width: 100%;
    height: 55%;
    left: 0%;
    top: 15%;
    position: absolute;

    overflow: hidden;
}

#modal_qod {
    text-align: center;
}

.image_full {
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin-right: 5%;
}

.img_placeholder {
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    overflow: hidden;
}

#draggable {
    width: 100%;
    height: 10px;
    background-color: #FCB941;
    margin: 5% 0%;
    position: absolute;
    top: 50%;
    display: none;
}

input {
    width: 480px;
    margin: 15px 85px;
    float: left;
}

canvas {
    padding-left: 75px;
}
